@font-face {
  font-family: "georgia";
  src: url("georgia.ttf") format("truetype");
}   

        /* 设置页面主体样式 */
        body {
          width: 60%; /* 设置宽度为页面宽度的100% */
          margin: 0 auto; /* 设置左右边距为自动，实现居中 */
          padding: 5px; /* 设置内边距 */
          overflow-x: hidden;
          
          background-color: #b6c7ea;
          color: #FFFFFF;
          font-family: "georgia", Times New Roman, Helvetica, Arial, sans-serif;
          font-size: 26px;
          line-height: 1.5;

          margin-top: 5%;
          margin-bottom: 5%;
          margin-left: 20%;
          margin-right: 20%;
        }
          
        a {
          color: #FFFFFF;
          text-decoration: underline;
        }

        a:visited {
          color: #FFFFFF;
        }

        /* 响应式图片样式 */
          .responsive-img {
            width: 130px;
            height: auto;
            margin: 0 auto; /* 水平居中 */
            display: block; /* 去除默认的行内元素样式 */
          }
